<!-- Top level template for the chat page -->
<template name="chat_page">
 
  <div class="row">
    <div class="col-xs-3">
      <h3>You're talking to {{other_user_name}}</h3>
      <img src="/{{other_user_avatar}}"  class="avatar_img" />
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        {{#each messages}}
          {{> chat_message}}
        {{/each}}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <form class="js-send-chat">
        <div class="form-group">
          <input class="form-control" type="text" name="chat" placeholder="type a message here..." />
        </div>
        <button class="btn btn-primary btn-block">Send</button>
      </form>
    </div>
  </div>
</template>