<template name="landing_page">
  <h1 class="text-center">Welcome to Minstant!</h1>
  <br>
  <h4 class="text-center text-muted">You should probably log in...</h4>
  <br>
  
  <h6>Temporary list of test users for easy copy/pasting:</h6>
  <ul>
    <li>user1@test.com - test123</li>
    <li>user2@test.com - test123</li>
    <li>user3@test.com - test123</li>
    <li>user4@test.com - test123</li>
    <li>user5@test.com - test123</li>
    <li>user6@test.com - test123</li>
    <li>user7@test.com - test123</li>
    <li>user8@test.com - test123</li>
  </ul>
</template>